.hero {
  background-color: #e9f8ff;
  display: flex;
  height: 20rem;
  width: 100vw;
  padding: 2rem 2.5rem;
  margin-top: 2.5rem;
  color: #273333;

  @media (min-width: 1056px) {
    margin-top: 4.5rem;
  }
}

.hero__img {
  position: absolute;
}

.hero__img--left {
  display: none;
  @media (min-width: 1056px) {
    display: block;
  }
}

.hero__img--right {
  right: 0;
  top: 0;

  @media (min-width: 1056px) {
    height: auto;
  }
}

.hero__content {
  align-self: center;
  margin: 0;

  @media (min-width: 1056px) {
    margin: 0 calc(25% - 3.5rem);
    min-width: 52rem;
  }
}

.hero__content-title {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.375rem;
  width: 50%;
  z-index: 999999;
  position: relative;

  @media (min-width: 1056px) {
    font-size: 2.5rem;
    width: auto;
    z-index: auto;
  }
}

.hero__content-description {
  font-size: 1rem;
  margin-bottom: 1.75rem;
  max-width: 50%;

  @media (min-width: 1056px) {
    font-size: 21px;
    max-width: 33.5rem;
  }
}

.hero__search-bar {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.hero__search-bar-label {
  display: none;
}

.hero__search-bar-input {
  width: 50%;
  height: 2.5rem;
  border-radius: 2rem;
  border: 1px solid #dee1e1;
  padding-left: 2.5rem;

  @media (min-width: 1056px) {
    width: calc(100% - 8rem);
    height: 3.5rem;
    padding-left: 3.5rem;
  }
}

.hero__search-bar-input::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  position: relative;
  top: 1px;
  left: 2rem;

  @media (min-width: 1056px) {
    font-size: 1.25rem;
  }
}

.hero__search-bar-img {
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  height: 1.5rem;

  @media (min-width: 1056px) {
    height: 2.5rem;
  }
}
